@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lateef', serif;
}

html{
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    /* grid-template-rows: 6em auto 300px 6rem 2rem; */
    align-content: flex-start;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(216, 255, 252);
 }
 .container{
    display: flex;
 }
 .options{
    width: 50%;
 }
 #letters {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 1em 0;
   width: 50%;
}
#letters div{
border: 1px solid black;
border-radius: 50%;
width:1.5em;
height:1.5em;
background-color: rgb(197, 253, 253);

}
#letters div:hover{
    background-color:rgba(0, 0, 0, 0.805) ;
    color:  rgb(197, 253, 253);
    transition: 0.25s;
    cursor: pointer;
    opacity: .6;
}
#clue {
    font-size: 3rem;
    letter-spacing: -1px;

}
.used{
    background-color: azure;
    opacity: .4;
}
section#gameover p {
    text-align: center;
    font-size: 3rem;
    display: none;
 }

 @media(width<=425px) {
    #letters{
        font-size: 1.5rem;
        align-items: flex-start;
        justify-content: flex-start;
    }

    
 }